# Lab | Data Structuring and Combining Data

## Challenge 1: Combining & Cleaning Data

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the links below.

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Note that you'll need to clean and format the new data.

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
data= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")
df=data.copy()

data2=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv")
df2=data2.copy()

data3=pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv")
df3=data3.copy()

In [3]:
df.rename(columns={"ST": "state"}, inplace = True)
df2.rename(columns={"ST": "state"}, inplace = True)
df.columns = df.columns.str.lower().str.replace(" ","_")
df2.columns = df2.columns.str.lower().str.replace(" ","_")
df3.columns = df3.columns.str.lower().str.replace(" ", "_")
df["customer_lifetime_value"]=df["customer_lifetime_value"].str.replace("%", "")
df2["customer_lifetime_value"]=df2["customer_lifetime_value"].str.replace("%", "")

In [4]:
df.shape

(4008, 11)

In [5]:
df2.shape

(996, 11)

In [6]:
df3.shape

(7070, 11)

In [7]:
df3.sample(15)

,customer,state,customer_lifetime_value,education,gender,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount,vehicle_class
3859,AZ38648,Washington,11981.984810,Master,F,21514,62,0,Personal Auto,257.248789,Two-Door Car
580,KW52227,California,7814.604545,Bachelor,M,51972,66,0,Personal Auto,316.800000,Four-Door Car
4294,EI29901,Arizona,7295.427030,Bachelor,M,26849,62,0,Personal Auto,38.309313,Four-Door Car
5799,ZA44520,Arizona,9621.726190,High School or Below,F,54872,121,0,Personal Auto,580.800000,SUV
6737,VX94337,California,8807.609658,High School or Below,M,59762,113,0,Corporate Auto,542.400000,SUV
3316,NN87570,Oregon,6057.072080,Bachelor,M,27681,83,0,Corporate Auto,398.400000,Two-Door Car
4303,WR90490,Nevada,4893.979609,High School or Below,M,25572,65,0,Personal Auto,312.000000,Four-Door Car
4897,OU99581,California,19363.527430,Bachelor,M,49945,70,0,Personal Auto,50.404470,Four-Door Car
4266,GI70759,California,4818.635094,Bachelor,M,0,71,0,Personal Auto,511.200000,Four-Door Car
67,PL78574,Arizona,12157.329920,High School or Below,M,57449,103,0,Personal Auto,494.400000,Four-Door Car
655,GU82757,California,4376.363592,Bachelor,F,63774,111,0,Corporate Auto,60.036683,Four-Door Car
6404,NY57065,California,2816.756002,Bachelor,M,42937,71,0,Corporate Auto,251.779842,Two-Door Car
7009,XN28388,California,4130.382954,College,F,0,66,2,Corporate Auto,523.030597,Four-Door Car
4002,AD33971,California,12564.067750,Doctor,M,0,68,0,Personal Auto,326.400000,Four-Door Car
6543,HU22390,California,5389.499465,College,M,66429,136,0,Corporate Auto,57.712985,Sports Car

In [8]:
df4=pd.concat([df,df2,df3], axis=0, join="outer")

In [9]:
df4.shape

(12074, 11)

In [10]:
df4.sample(5)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount
2318,ED28429,Washington,M,Bachelor,4159.593921,0.0,62.0,0,Personal Auto,Two-Door Car,446.400000
582,XF57481,Washington,M,Master,1064093.93,50450.0,90.0,1/0/00,Personal Auto,Two-Door Car,135.892444
4458,YT56442,California,M,College,2642.932059,58729.0,68.0,2,Corporate Auto,Four-Door Car,94.845076
1026,NB81923,Washington,F,College,7294.492993,0.0,113.0,2,Personal Auto,Sports Car,733.737214
4437,XY36764,California,F,College,2771.045031,50071.0,71.0,0,Personal Auto,Two-Door Car,18.918935

In [11]:
df4 = df4.dropna(how='all')
df4.shape

(9137, 11)

Además de cambiar las variables string a numéricas en el df4, se hace la corrección de ['number_of_open_complaints'] después de la eliminación de los NaN, ya que el valor 0 en esta variable es significativa. ¿Cuantos clientes no tienen abiertas quejas con la aseguradora?

In [12]:
df4["customer_lifetime_value"] = df4["customer_lifetime_value"].apply(lambda x: float(x)).round(2)

df4['number_of_open_complaints'] = df4['number_of_open_complaints'].apply(lambda x: int(x[2]) if isinstance(x, str) and len(x) >= 3 else 0)

df4['total_claim_amount'] = df4['total_claim_amount'].apply(lambda x: float(x)).round(2)

df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9137 entries, 0 to 7069
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customer                   9137 non-null   object
 1   state                      9137 non-null   object
 2   gender                     9015 non-null   object
 3   education                  9137 non-null   object
 4   customer_lifetime_value    9130 non-null   float64
 5   income                     9137 non-null   float64
 6   monthly_premium_auto       9137 non-null   float64
 7   number_of_open_complaints  9137 non-null   int64
 8   policy_type                9137 non-null   object
 9   vehicle_class              9137 non-null   object
 10  total_claim_amount         9137 non-null   float64
dtypes: float64(4), int64(1), object(6)
memory usage: 856.6+ KB

In [13]:
df4.isnull().sum()

customer                       0
state                          0
gender                       122
education                      0
customer_lifetime_value        7
income                         0
monthly_premium_auto           0
number_of_open_complaints      0
policy_type                    0
vehicle_class                  0
total_claim_amount             0
dtype: int64

In [14]:
df4.loc[:, 'gender'] = df4['gender'].fillna(value="No specified")
df4['gender'].isnull().sum()

0

In [15]:
df4.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      7
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [16]:
df4.dropna(subset=['customer_lifetime_value'], inplace=True)

In [17]:
df4.isnull().sum()

customer                     0
state                        0
gender                       0
education                    0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
vehicle_class                0
total_claim_amount           0
dtype: int64

In [18]:
df4.duplicated().sum()

3

In [19]:
df4.drop_duplicates(inplace=True)
df4.duplicated().sum()

0

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [20]:
data2= pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv")
df5=data2.copy()

In [21]:
df5.head()

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
0,0,DK49336,Arizona,4809.216960,No,Basic,College,2011-02-18,Employed,M,...,9,Corporate Auto,Corporate L3,Offer3,Agent,292.800000,Four-Door Car,Medsize,A,2
1,1,KX64629,California,2228.525238,No,Basic,College,2011-01-18,Unemployed,F,...,1,Personal Auto,Personal L3,Offer4,Call Center,744.924331,Four-Door Car,Medsize,A,1
2,2,LZ68649,Washington,14947.917300,No,Basic,Bachelor,2011-02-10,Employed,M,...,2,Personal Auto,Personal L3,Offer3,Call Center,480.000000,SUV,Medsize,A,2
3,3,XL78013,Oregon,22332.439460,Yes,Extended,College,2011-01-11,Employed,M,...,2,Corporate Auto,Corporate L3,Offer2,Branch,484.013411,Four-Door Car,Medsize,A,1
4,4,QA50777,Oregon,9025.067525,No,Premium,Bachelor,2011-01-17,Medical Leave,F,...,7,Personal Auto,Personal L2,Offer1,Branch,707.925645,Four-Door Car,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [22]:
df_sales = df5.groupby("sales_channel")["total_claim_amount"].sum().round(2)
df_sales

sales_channel
Agent          1810226.82
Branch         1301204.00
Call Center     926600.82
Web             706600.04
Name: total_claim_amount, dtype: float64

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [23]:
df_pivot = pd.pivot_table(df5, values='total_claim_amount', index='sales_channel', aggfunc='sum')
df_pivot

               total_claim_amount
sales_channel
Agent                1.810227e+06
Branch               1.301204e+06
Call Center          9.266008e+05
Web                  7.066000e+05

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*